<template>
  <div>
    <div class="bg-teal-800">
      <div class="flex py-3">
        <div class="container text-white">
          <div class="float-left inline-flex">
            <div v-for="(link, i) in links" :key="i" class="pr-5">
              <a
                class="text-white hover:text-white"
                target="_blank"
                :href="link.url"
              >
                <i :class="link.icon"></i>
              </a>
            </div>
          </div>

          <div class="float-right pt-1">
            <div class="flex text-xs">
              <i class="far fa-clock p-[3px] mr-2"></i>
              <p>Mon-Fri: 10.00 - 18.00</p>
              <span v-for="(slink, i) in slinks" :key="i">
                <a
                  class="text-white hover:text-white"
                  target="_blank"
                  :href="slink.url"
                >
                  <i class="p-[3px] ml-2 mr-1" :class="slink.icon"></i>
                  {{ slink.txt }}
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-teal-900">
      <div class="container py-3">
        <div class="grid grid-cols-7 text-white">
          <div v-for="(homelogo, i) in homelogos" :key="i">
            <a href="/">
              <img :src="homelogo.hl" alt="logo" />
            </a>
          </div>

          <div class="flex fa-lg col-span-5 my-auto mx-auto">
            <b-field
              class="
                my-auto
                bg-white
                w-[400px]
                rounded-tl rounded-bl
                outline-none
              "
            >
              <b-input
                class="border-0 outline-none"
                placeholder="I'm looking for..."
              ></b-input>
            </b-field>
            <div class="bg-teal-600 p-3">
              <i class="fa fa-search text-xs"></i>
            </div>

            <span class="ml-12 fa-stack fa-1x">
              <i class="far fa-comment-alt fa-stack-2x mt-1"></i>
              <span class="fa-stack-1x fa-stack-text fa-inverse">?</span>
            </span>

            <div class="uppercase text-xs my-auto">
              <p>call us free</p>
              <p class="text-base">884-123-4567</p>
            </div>
          </div>

          <div class="ml-auto my-auto inline-flex">
            <i class="far fa-user mr-4 fa-lg my-auto"></i>
            
            <div class="w-8 h-12 pt-1">
              <div class="mb-2">              
              <div
                class="
                  ml-3
                  absolute
                  bg-teal-600
                  p-1
                  text-xs
                  rounded-full
                "
              >
              0
              </div>
              </div>
              <i class="far fa-heart fa-lg my-auto"></i>
            </div>

            <div class="w-8 h-12 pt-1">
              <div class="mb-2">              
              <div
                class="
                  ml-3
                  absolute
                  bg-teal-600
                  p-1
                  text-xs
                  rounded-full
                "
              >
              0
              </div>
              </div>
            <i class="fas fa-shopping-bag fa-lg my-auto"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-teal-900 border-opacity-50 border-t border-teal-100">
      <div class="py-2">
        <div class="flex justify-center gap-4">
          <div v-for="(button, i) in buttons" :key="i">
            <a class="text-white hover:text-white" :href="button.url">
              <button class="bg-teal-600 w-36 rounded ml-2 p-2">
                {{ button.txt }}
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      underlw: true,
      homelogos: [{ hl: require("../../assets/images/HaraLogoTeal.png") }],
      links: [
        {
          url: "https://www.facebook.com/smkbinusasmg",
          icon: "fa fa-facebook-f",
        },
        {
          url: "https://twitter.com/smkbinusasmg",
          icon: "fa fa-twitter",
        },
        {
          url: "https://www.instagram.com/smkbinanusantara_smg/",
          icon: "fa fa-instagram",
        },
        {
          url: "https://www.youtube.com/channel/UCw5YNITJ8UTpWB9N55saWhw",
          icon: "fa fa-youtube",
        },
      ],
      slinks: [
        {
          url: "https://www.google.com/maps/place/SMK+Bina+Nusantara+Semarang/@-6.9755539,110.2992595,17z/data=!3m1!4b1!4m5!3m4!1s0x2e705fdc0235654d:0x97b3afe1b2104e70!8m2!3d-6.9755555!4d110.3014499",
          icon: "fa fa-map-marker-alt",
          txt: "Jl. Kemantren Raya No.5, Wonosari, SMG",
        },
        {
          url: "mailto:smkbinusasmg@yahoo.com",
          icon: "fa fa-envelope",
          txt: "smkbinusasmg@yahoo.com",
        },
      ],
      buttons: [
        { url: "/", txt: "Home" },
        { url: "product-display", txt: "Shop" },
        { url: "/", txt: "Pages" },
        { url: "blogs", txt: "Blog" },
        { url: "contact-us", txt: "Contact" },
      ],
    };
  },
  methods: {
    changeColor() {
      this.underlw = !this.underlw;
    },
  },
};
</script>