<template>
<layout-container nav-title="Product" no-back>
  <img src="../../assets/images/gambar-shop.jpeg"/>
  <div class="isi container mt-5">
    <div class="grid grid-cols-5 gap-4">
      <div class="text-sm">
        <span class="capitalize font-bold font-serif"
          >filter by categories</span
        >
        <hr />
        <div>
          <ul>
            <li v-for="categorie in categories" :key="categorie.id" class="m-4">
              <b-field>
                <b-checkbox type="is-success" class="font-filter capitalize">
                  {{ categorie.nama }}
                </b-checkbox>
              </b-field>
            </li>
            </ul>
          <hr />
          <ul>
            <li class="m-4">
              <b-field>
                <b-checkbox type="is-success"> On sale </b-checkbox>
              </b-field>
            </li>
            <li class="m-4">
              <b-field>
                <b-checkbox type="is-success"> In stock </b-checkbox>
              </b-field>
            </li>
          </ul>
          <hr />
          <b-field label="Price">
            <b-slider type="is-success" :value="20"></b-slider>
            Price: $135 - $401
          </b-field>
          <button
            class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded"
          >
            Filter
          </button>
          <div class="mt-8 capitalize font-bold font-serif">product color</div>
          <hr />
          <button
            class="border-2 bg-green-700 rounded-full w-8 h-8 focus:outline-none"
          ></button>
          <button
            class="border-2 bg-pink-300 rounded-full w-8 h-8 focus:outline-none"
          ></button>
          <button
            class="border-2 bg-yellow-100 rounded-full w-8 h-8 focus:outline-none"
          ></button>
          <div class="mt-8 capitalize font-bold font-serif">size</div>
          <hr />
          <ul>
            <li v-for="size in sizes" :key="size.id" class="m-4">
              <b-field>
                <b-checkbox type="is-success"> {{ size.ukuran }} </b-checkbox>
              </b-field>
            </li>
          </ul>
          <div class="mt-8 capitalize font-bold font-serif">brands</div>
          <hr />
          <ul>
            <li v-for="brand in brands" :key="brand.id" class="m-4">
              <b-field>
                <b-checkbox type="is-success" class="font-filter capitalize">
                  {{ brand.nama }}
                </b-checkbox>
              </b-field>
            </li>
          </ul>
          <div class="mt-8 capitalize font-bold font-serif">product tags</div>
          <hr />
          <div class="text-xs">
            <span
              v-for="productTag in productTags" :key="productTag.id"
              class="inline-block bg-gray-200 rounded-md px-3 py-1 text-sm capitalize font-semibold text-gray-700 mr-2 mb-2"
              >{{ productTag.nama }}</span
            >
          </div>
        </div>
      </div>
      <div class="col-span-4">
        <div class="grid grid-cols-3 gap-4 p-2 bg-gray-100">
          <div class="col-span-2">Showing 1-12 of 32 result</div>
          <b-dropdown
            append-to-body
            aria-role="menu"
            scrollable
            max-height="200"
            trap-focus
          >
            <template #trigger>
              <a class="navbar-item" role="button">
                <span>Sort by: Default sorting</span>
                <b-icon icon="menu-down"></b-icon>
              </a>
            </template>
            <b-dropdown-item
              aria-role="listitem"
              >Text</b-dropdown-item
            >
          </b-dropdown>
        </div>
        <div class="container">
          <div v-for="dataProduct in dataProducts" :key="dataProduct.id" class="lg:w-6/7 mt-5 flex flex-wrap">
            <img
              alt="ecommerce"
              class="lg:w-1/3 object-cover object-center rounded"
              :src='dataProduct.gambar'
            />
            <div
              class="absolute mt-2 ml-4 p-1 bg-green-300 text-xs tracking-widest"
            >
              FEATURED
            </div>
            <div class="lg:w-2/3 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
              <p
                class="flex justify-between text-sm title-font text-gray-500 tracking-widest"
              >
                {{ dataProduct.brand }}
                <span class="flex">
                  <svg
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 text-yellow-500"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    ></path>
                  </svg>
                  <svg
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 text-yellow-500"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    ></path>
                  </svg>
                  <svg
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 text-yellow-500"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    ></path>
                  </svg>
                  <svg
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 text-yellow-500"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    ></path>
                  </svg>
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 text-yellow-500"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    ></path>
                  </svg>
                  <span class="text-gray-600 ml-3">{{ dataProduct.totalUlasan }}</span>
                </span>
              </p>
              <p class="text-gray-900 text-lg title-font font-medium mb-1">
                {{ dataProduct.namaBarang }}
              </p>
              <p class="text-green-700 text-md title-font font-bold mb-1">
                {{ dataProduct.harga }}
              </p>
              <div class="flex mb-4"></div>
              <p class="leading-relaxed">
                {{ dataProduct.desc }}
              </p>
              <div class="flex mt-2">
                <button
                  class="flex text-white bg-green-600 border-0 py-2 px-6 focus:outline-none hover:bg-green-700 rounded"
                >
                  Buy
                </button>
                <span class="items-center flex">
                  <button
                    class="rounded-full w-10 h-10 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
                  >
                    <svg
                      fill="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-5 h-5"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
                      ></path>
                    </svg>
                  </button>
                  <p>Add to wishlist</p></span
                >
                <span class="items-center flex">
                  <button
                    class="rounded-full w-10 h-10 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-left-right"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"
                      />
                    </svg>
                  </button>
                  <p>Add to compare</p></span
                >
              </div>
            </div>
          </div>
        <b-pagination
            :total="total"
            v-model="current"
            :order="order"
            :size="size"
            :rounded="isRounded"
            :per-page="perPage"
            :icon-next="nextIcon"
            aria-next-label="Next page"
            aria-page-label="Page">
        </b-pagination>
        </div>
      </div>
    </div>
  </div>
</layout-container>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class ProductDisplay extends Vue {
  data() {
            return {
                total: 3,
                current: 1,
                perPage: 1,
                order: '',
                size: '',
                isRounded: true,
                nextIcon: 'arrow-right',
                inputPosition: '',
                inputDebounce: ''
            }
        }
  mounted() {}
categories= [
    {
      id: 1,
      nama: "Buety"
    },
    {
      id: 2,
      nama: "cream Blush"
    },
    {
      id: 3,
      nama: "Eyes Care"
    },
    {
      id: 4,
      nama: "Gifts Set"
    },
    {
      id: 5,
      nama: "Hair & Body"
    },
    {
      id: 6,
      nama: "Lipstick"
    },
    {
      id: 7,
      nama: "Makeup"
    },
    {
      id: 8,
      nama: "Nails"
    },
    {
      id: 9,
      nama: "Parfume"
    },
    {
      id: 10,
      nama: "Skin Care"
    },
    {
      id: 11,
      nama: "Sun Carw"
    },
    {
      id: 12,
      nama: "Weliness"
    },
  ]

  sizes=[
    {
      id: 1,
      ukuran: '100ml'
    },
    {
      id: 2,
      ukuran: '150ml'
    },
    {
      id: 3,
      ukuran: '200ml'
    }
  ]

  productTags=[
    {
      id: 1,
      nama: 'accessories'
    },
    {
      id: 2,
      nama: 'anti-ageing'
    },
    {
      id: 3,
      nama: 'bags'
    },
    {
      id: 4,
      nama: 'cleansers & toners'
    },
    {
      id: 5,
      nama: 'exfoliators'
    },
    {
      id: 6,
      nama: 'gadgets'
    },
    {
      id: 7,
      nama: 'men'
    },
    {
      id: 8,
      nama: 'mouisturisers'
    },
    {
      id: 9,
      nama: 'oils & serums'
    },
    {
      id: 10,
      nama: 'skincare'
    },
    {
      id: 11,
      nama: 'skincare treatments'
    },
    {
      id: 12,
      nama: 'tools'
    },
    {
      id: 13,
      nama: 'woomen'
    },
  ]
  brands=[
    {
      id: 1,
      nama: '111SKIN'
    },
    {
      id: 2,
      nama: 'A.D.C Beauty'
    },
    {
      id: 3,
      nama: 'AESOP'
    },
    {
      id: 4,
      nama: 'ALBIVA'
    },
    {
      id: 5,
      nama: 'Amanda'
    },
    {
      id: 6,
      nama: 'Anatomaticals'
    },
    {
      id: 7,
      nama: 'Armany Beauty'
    },
    {
      id: 8,
      nama: 'Beautyblender'
    },
  ]

  dataProducts= [
    {
      id: 1,
      gambar: 'https://i.postimg.cc/ydQfW16X/BS2.jpg',
      brand: 'AESOP',
      namaBarang: 'Aplied Artwork',
      harga: '$400.00',
      desc: 'Dui urna vehicula tincidunt pretium consequat luctus mi, platea fermentum conubia tempus ac orci. Pellentesque dictum malesuada cubilia faucibus dignissim mi nascetur senectus, augue ad libero efficitur dolor duis lobortis, non etiam sociosqu maximus enim mus natoque.',
      totalUlasan: '20'
    },
    {
      id: 2,
      gambar: 'https://i.postimg.cc/BQQ0M28W/BS3.jpg',
      brand: 'AESOP',
      namaBarang: 'Aplied Artwork',
      harga: '$230.00',
      desc: 'Dui urna vehicula tincidunt pretium consequat luctus mi, platea fermentum conubia tempus ac orci. Pellentesque dictum malesuada cubilia faucibus dignissim mi nascetur senectus, augue ad libero efficitur dolor duis lobortis, non etiam sociosqu maximus enim mus natoque.',
      totalUlasan: '1'
    }
  ]
  
}
</script>
