<template>
  <layout-container nav-title="Product" no-back> </layout-container>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Product extends Vue {
  mounted() {}
}
</script>
