<template>
  <layout-container nav-title="User Management" no-back>
    <!-- Filter dan Add -->
    <div class="flex justify-between my-4 px-5">
      <b-field class="w-72">
        <b-input
          placeholder="Search..."
          type="search"
          icon="magnify"
          icon-clickable
          @icon-click="searchIconClick"
        >
        </b-input>
      </b-field>
      <b-button
        type="is-danger"
        icon-left="plus"
        @click="isCardModalActive = true"
      >
        Buat User
      </b-button>
      <b-modal v-model="isCardModalActive" :width="640" scroll="keep">
        <div class="card p-5">
          <!-- <div class="card-image">
            <figure class="image is-4by3">
              <img src="/static/img/Glossy-Sun-Elements.jpg" alt="Image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/static/img/placeholder-1280x960.png" alt="Image" />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris. <a>@bulmaio</a>. <a>#css</a>
              <a>#responsive</a>
              <br />
              <small>11:09 PM - 1 Jan 2016</small>
            </div>
          </div> -->
          <div class="w-full p-3">
            <b-field label="Name">
              <b-input v-model="name"></b-input>
            </b-field>
            <b-field label="Email">
              <b-input type="email"> </b-input>
            </b-field>
            <b-field label="Password">
              <b-input type="password" password-reveal> </b-input>
            </b-field>
            <b-field label="Confirm Password">
              <b-input type="password" password-reveal> </b-input>
            </b-field>
          </div>
          <div class="p-2 flex gap-5 justify-center">
            <b-button type="is-success" class="w-44">Save</b-button>
            <b-button class="w-44">Cancel</b-button>
          </div>
        </div>
      </b-modal>
    </div>
    <!-- Table dan Pagination -->
    <div class="my-2">
      <b-table
        :data="data"
        :paginated="isPaginated"
        :per-page="perPage"
        :current-page.sync="currentPage"
        :pagination-simple="isPaginationSimple"
        :pagination-position="paginationPosition"
        :default-sort-direction="defaultSortDirection"
        :pagination-rounded="isPaginationRounded"
        :sort-icon="sortIcon"
        :sort-icon-size="sortIconSize"
        default-sort="user.first_name"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
        :page-input="hasInput"
        :pagination-order="paginationOrder"
        :page-input-position="inputPosition"
        :debounce-page-input="inputDebounce"
      >
        <b-table-column
          field="id"
          label="No"
          width="40"
          numeric
          centered
          v-slot="props"
        >
          {{ props.row.id }}
        </b-table-column>
        <b-table-column field="name" label="Name" v-slot="props">
          {{ props.row.name }}
        </b-table-column>
        <b-table-column field="email" label="Email" v-slot="props">
          {{ props.row.email }}
        </b-table-column>
        <b-table-column field="active" label="Last Active" v-slot="props">
          {{ props.row.active }}
        </b-table-column>
        <b-table-column field="tlpn" label="No Telephone" v-slot="props">
          {{ props.row.tlpn }}
        </b-table-column>
        <b-table-column label="Action">
          <b-dropdown aria-role="list">
            <template #trigger="{ active }">
              <b-button
                label="Aksi"
                type="is-success"
                size="is-small"
                :icon-right="active ? 'menu-up' : 'menu-down'"
              />
            </template>

            <b-dropdown-item aria-role="listitem" @click="isDetailActive = true"
              >Rincian</b-dropdown-item
            >
            <b-dropdown-item disabled aria-role="listitem"
              >Delete</b-dropdown-item
            >
            <b-dropdown-item aria-role="listitem">Authorisasi</b-dropdown-item>
          </b-dropdown>
        </b-table-column>
      </b-table>
    </div>
    <div>
      <b-modal v-model="isDetailActive" :width="640" scroll="keep">
        <div class="card">
          <div class="p-2">
            <img
              class="
                block
                ml-auto
                mr-auto
                rounded-full
                w-36
                border border-black
              "
              src="@/static/img/Glossy-Sun-Elements.jpg"
              alt=""
            />
          </div>
          <div class="border w-full border-black"></div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="@/static/img/Glossy-Sun-Elements.jpg" alt="Image" />
                </figure>
              </div>
              <div class="media-content" v-for="item in data" :key="item.id">
                <p class="title is-4">{{ item.name }}</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              nec iaculis mauris. <a>@bulmaio</a>. <a>#css</a>
              <a>#responsive</a>
              <br />
              <small>11:09 PM - 1 Jan 2016</small>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </layout-container>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { DialogProgrammatic as Dialog } from "buefy";
// Dialog.alert("We can use confirm and prompt methods as well");
@Component
export default class UserManagement extends Vue {
  data() {
    return {
      data: [
        {
          id: 1,
          name: "Jesse",
          email: "Simmons@mail.com",
          active: "2016/10/15 13:43:27",
          tlpn: "08123546987",
        },
        {
          id: 2,
          name: "John",
          email: "Jacobs@mail.com",
          active: "2016/12/15 06:00:53",
          tlpn: "082315264897",
        },
        {
          id: 3,
          name: "Tina",
          email: "Gilbert@mail.com",
          active: "2016/04/26 06:26:28",
          tlpn: "081235487543",
        },
        {
          id: 4,
          name: "Clarence",
          email: "Flores@mail.com",
          active: "2016/04/10 10:28:46",
          tlpn: "0845135874651",
        },
        {
          id: 5,
          name: "Anne",
          email: "Lee@mail.com",
          active: "2016/12/06 14:38:38",
          tlpn: "08956549461",
        },
        {
          id: 6,
          name: "Clarence",
          email: "Flores@mail.com",
          active: "2016/04/10 10:28:46",
          tlpn: "0845135874651",
        },
        {
          id: 7,
          name: "Anne11",
          email: "Lee@mail.com",
          active: "2016/12/06 14:38:38",
          tlpn: "08956549461",
        },
        {
          id: 8,
          name: "Clarence22",
          email: "Flores@mail.com",
          active: "2016/04/10 10:28:46",
          tlpn: "0845135874651",
        },
        {
          id: 9,
          name: "Anne33",
          email: "Lee@mail.com",
          active: "2016/12/06 14:38:38",
          tlpn: "08956549461",
        },
        {
          id: 10,
          name: "Clarence44",
          email: "Flores@mail.com",
          active: "2016/04/10 10:28:46",
          tlpn: "0845135874651",
        },
        {
          id: 11,
          name: "Anne55",
          email: "Lee@mail.com",
          active: "2016/12/06 14:38:38",
          tlpn: "08956549461",
        },
        {
          id: 12,
          name: "Clarence66",
          email: "Flores@mail.com",
          active: "2016/04/10 10:28:46",
          tlpn: "0845135874651",
        },
        {
          id: 13,
          name: "Anne77",
          email: "Lee@mail.com",
          active: "2016/12/06 14:38:38",
          tlpn: "08956549461",
        },
        {
          id: 14,
          name: "Clarence88",
          email: "Flores@mail.com",
          active: "2016/04/10 10:28:46",
          tlpn: "0845135874651",
        },
        {
          id: 15,
          name: "Anne99",
          email: "Lee@mail.com",
          active: "2016/12/06 14:38:38",
          tlpn: "08956549461",
        },
        {
          id: 16,
          name: "Clarence123",
          email: "Flores@mail.com",
          active: "2016/04/10 10:28:46",
          tlpn: "0845135874651",
        },
        {
          id: 17,
          name: "Anne456",
          email: "Lee@mail.com",
          active: "2016/12/06 14:38:38",
          tlpn: "08956549461",
        },
      ],
      columns: [
        {
          field: "id",
          label: "No",
          width: "40",
          numeric: true,
          centered: true,
        },
        {
          field: "name",
          label: "Name",
          searchable: true,
        },
        {
          field: "email",
          label: "Email",
          searchable: true,
        },
        {
          field: "active",
          label: "Last Active",
          centered: true,
          searchable: true,
        },
        {
          field: "tlpn",
          label: "No Telephone",
          searchable: true,
        },
        {
          field: "action",
          label: "Action",
        },
      ],
      searchable: true,
      isPaginated: true,
      isPaginationSimple: false,
      isPaginationRounded: false,
      paginationPosition: "bottom",
      defaultSortDirection: "asc",
      sortIcon: "arrow-up",
      sortIconSize: "is-small",
      currentPage: 1,
      perPage: 4,
      hasInput: false,
      paginationOrder: "is-centered",
      inputPosition: "",
      inputDebounce: "",
      isCardModalActive: false,
      isDetailActive: false,
    };
  }

  //     filteredItems(){
  // return this.data.filter(item => {
  //   return
  //   item.name.toLowerCase().indexOf(this.search.toLowerCase()) - 1
  // })
  //     }

  addModal() {
    this.$buefy.dialog.prompt({
      message: `What's your name?`,
      inputAttrs: {
        placeholder: "e.g. Walter",
        maxlength: 10,
      },
      trapFocus: true,
      onConfirm: (value) => this.$buefy.toast.open(`Your name is: ${value}`),
    });
  }
  detailModal() {
    this.$buefy.dialog.prompt({
      message: `What's your name?`,
      inputAttrs: {
        placeholder: "e.g. Walter",
        maxlength: 10,
      },
      trapFocus: true,
      onConfirm: (value) => this.$buefy.toast.open(`Your name is: ${value}`),
    });
  }
  removeModal() {
    this.$buefy.dialog.confirm({
      message: "Are you sure to Remove this file??",
      onConfirm: () => this.$buefy.toast.open("Remove confirmed"),
    });
  }
}
</script>