<template>
  <div>
    <layout-container no-back>
      <section>
        <b-carousel
          :indicator="indicator"
          :indicator-inside="indicatorInside"
          :indicator-mode="indicatorMode"
          :indicator-position="indicatorPosition"
          :indicator-style="indicatorStyle"
          :pause-hover="false"
          :pause-info="false"
        >
          <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
            <figure class="image">
              <img :src="carousel.image" />
            </figure>
          </b-carousel-item>
        </b-carousel>
      </section>
      <p
        class="
          text-center
          mt-5
          text-2xl
        "
      >Beauty<span class="
          underline
          decoration-wavy
          decoration-sky-500
          underline-offset-[18px]"> Es</span>sential
      </p>
      <div class="flex mt-8 mb-5 gap-5">
        <div class="container mx-auto">
          <div
            class="
              grid grid-cols-2
              sm:grid-cols-1
              md:grid-cols-3
              lg:grid-cols-3
              gap-6
              justify-items-center
            "
          >
          
            <div class="bg-[#faecd4] rounded-[50%] text-center">
              <img
                class="w-60 display-flex"
                src="../assets/images/FentyBP.png"
                alt="FentyBeauty"
              />
              <strong><h5>Skincare</h5></strong>
              <p>Start from $18.00</p>
            </div>
            <div class="bg-[#faecd4] rounded-[50%] text-center">
              <img
                class="w-60"
                src="../assets/images/FentyB.png"
                alt="FentyBeauty"
              />
              <h5>Makeup</h5>
              <p>Start from $22.00</p>
            </div>
            <div class="bg-[#faecd4] rounded-[50%] text-center">
              <img
                class="w-60"
                src="../assets/images/FentyB.png"
                alt="FentyBeauty"
              />
              <h5>Clean Eyes</h5>
              <p>Start from $18.00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="container mt-5">
    <div class="grid grid-cols-4 gap-4"> -->
      <div class="mt-5 mb-5">
        <div
          class="
            h-96
            w-full
            h-auto
            bg-[#faecd4]
            float-right
            break-all
            whitespace-normal
          "
        >
          <div class="container mx-auto">
            <div
              class="
                grid grid-cols-2
                sm:grid-cols-1
                md:grid-cols-2
                lg:grid-cols-2
                gap-6
              "
            >
              <div class="ml-16">
                <img
                  class="w-72"
                  src="../assets/images/FentyP.png"
                  alt="FentyBeauty"
                />
              </div>

              <div
                class="uppercase float-right mt-12 pr-20 font-serif font-black"
              >
                <h1 class="text-3xl tracking-[.25em]">
                  order now and <br />
                  save up to 50%
                </h1>

                <div class="mt-8">
                  <span class="line-through -mt-4">$399</span>
                  <span class="text-[#14b8a6] text-4xl">$199</span>
                  <p class="text-xs mt-10">
                    Take your skin to the next level with skin care product
                  </p>

                  <div class="flex mt-10 pt-2">
                    <b-button type="is-dark">
                      <span>Shop now</span>
                      <b-icon class="flex" icon="arrow-right"> </b-icon>
                    </b-button>
                    <p class="text-xs mt-3">
                      * Free shipping for US and Canada only
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FIRST PRODUCT -->
      <div class="flex mt-5 mb-5 gap-5">
        <div class="container">
          <h1 class="float-left text-3xl">Best Selling</h1>
          <p class="float-right">
            View all product <b-icon icon="arrow-right"> </b-icon>
          </p>
        </div>
      </div>

      <div class="flex mt-5 mb-5 gap-5">
        <div class="container">
          <div
            class="
              grid grid-cols-4
              sm:grid-cols-1
              md:grid-cols-2
              lg:grid-cols-4
              gap-4
            "
          >
            <div class="overflow-hidden rounded-lg shadow-lg">
              <div
                class="
                  uppercase
                  absolute
                  mt-5
                  ml-3
                  p-2
                  bg-[#a7f3d0]
                  text-xs text-black
                  tracking-widest
                "
              >
                featured
              </div>
              <img
                alt="Fenty"
                class="block w-full h-64"
                src="../assets/images/LamerG.jpeg"
              />
              <header class="leading-tight p-2 md:p-4">
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star-half"> </b-icon>
                <span> 2 </span>
                <div class="flex">
                  <div class="cursor-pointer capitalize">
                    <p class="ml-1 mt-1 text-sm">Body Lava Luminizer</p>
                    <p class="ml-1 mt-1 text-sm text-[#14b8a6]">
                      $156.00 - $190.00
                    </p>
                  </div>
                </div>
              </header>
            </div>

            <div class="overflow-hidden rounded-lg shadow-lg">
              <div
                class="
                  uppercase
                  absolute
                  mt-5
                  ml-3
                  p-2
                  bg-[#a7f3d0]
                  text-xs text-black
                  tracking-widest
                "
              >
                featured
              </div>
              <img
                alt="Fenty"
                class="block w-full h-64"
                src="../assets/images/FentyWC.jpeg"
              />
              <header
                class="items-center justify-between leading-tight p-2 md:p-4"
              >
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <span> 3 </span>
                <div class="flex">
                  <div class="cursor-pointer capitalize">
                    <p class="ml-1 mt-1 text-sm">applied artwork</p>
                    <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$260.00</p>
                  </div>
                </div>
              </header>
            </div>

            <div class="overflow-hidden rounded-lg shadow-lg">
              <img
                alt="Fenty"
                class="block w-full h-64"
                src="../assets/images/Cream.jpeg"
              />
              <header
                class="items-center justify-between leading-tight p-2 md:p-4"
              >
                <div class="flex">
                  <div class="cursor-pointer capitalize">
                    <p class="ml-1 mt-1 text-sm">aveeno daily moisturizing</p>
                    <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$300.00</p>
                  </div>
                </div>
              </header>
            </div>

            <div class="overflow-hidden rounded-lg shadow-lg">
              <img
                alt="Fenty"
                class="block w-full h-64"
                src="../assets/images/LamerB.jpeg"
              />
              <header
                class="items-center justify-between leading-tight p-2 md:p-4"
              >
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <span> 2 </span>
                <div class="flex">
                  <div class="cursor-pointer capitalize">
                    <p class="ml-1 mt-1 text-sm">careful cosmetics</p>
                    <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$230.00</p>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>

      <div class="flex mb-5">
        <div class="container">
          <button
            class="
              border-2
              bg-green-700
              rounded-full
              w-8
              h-8
              focus:outline-none
            "
          ></button>
          <button
            class="
              border-2
              bg-[#fac8c3]
              rounded-full
              w-8
              h-8
              focus:outline-none
            "
          ></button>
          <button
            class="
              border-2
              bg-orange-100
              rounded-full
              w-8
              h-8
              focus:outline-none
            "
          ></button>
        </div>
      </div>

      <!-- SECOND PRODUCT -->
      <div class="flex mt-5 mb-5 gap-5">
        <div class="container">
          <h1 class="float-left text-3xl">Under $25</h1>
          <p class="float-right">
            View all product <b-icon icon="arrow-right"> </b-icon>
          </p>
        </div>
      </div>

      <div class="flex mt-5 mb-5 gap-5">
        <div class="container">
          <div
            class="
              grid grid-cols-4
              sm:grid-cols-1
              md:grid-cols-2
              lg:grid-cols-4
              gap-4
            "
          >
            <div class="overflow-hidden rounded-lg shadow-lg">
              <div
                class="
                  uppercase
                  absolute
                  mt-5
                  ml-3
                  p-2
                  bg-[#a7f3d0]
                  text-xs text-black
                  tracking-widest
                "
              >
                featured
              </div>
              <img
                alt="Fenty"
                class="block w-full h-64"
                src="../assets/images/LamerG.jpeg"
              />
              <header class="leading-tight p-2 md:p-4">
                <div class="flex">
                  <div class="cursor-pointer capitalize">
                    <p class="ml-1 mt-1 text-sm">supple symmetry</p>
                    <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$168.00</p>
                  </div>
                </div>
              </header>
            </div>

            <div class="overflow-hidden rounded-lg shadow-lg">
              <div
                class="
                  uppercase
                  absolute
                  mt-5
                  ml-3
                  p-2
                  bg-[#a7f3d0]
                  text-xs text-black
                  tracking-widest
                "
              >
                featured
              </div>
              <img
                alt="Fenty"
                class="block w-full h-64"
                src="../assets/images/FentyWC.jpeg"
              />
              <header
                class="items-center justify-between leading-tight p-2 md:p-4"
              >
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <span> 3 </span>
                <div class="flex">
                  <div class="cursor-pointer capitalize">
                    <p class="ml-1 mt-1 text-sm">wella professionals</p>
                    <p class="ml-1 mt-1 text-sm text-[#14b8a6]">
                      $195.00 - $230.00
                    </p>
                  </div>
                </div>
              </header>
            </div>

            <div class="overflow-hidden rounded-lg shadow-lg">
              <img
                alt="Fenty"
                class="block w-full h-64"
                src="../assets/images/Cream.jpeg"
              />
              <header
                class="items-center justify-between leading-tight p-2 md:p-4"
              >
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star-half"> </b-icon>
                <span> 2 </span>
                <div class="flex">
                  <div class="cursor-pointer capitalize">
                    <p class="ml-1 mt-1 text-sm">poreless putty primer</p>
                    <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$330.00</p>
                  </div>
                </div>
              </header>
            </div>

            <div class="overflow-hidden rounded-lg shadow-lg">
              <div
                class="
                  uppercase
                  absolute
                  mt-5
                  ml-3
                  p-2
                  bg-[#a7f3d0]
                  text-xs text-black
                  tracking-widest
                "
              >
                featured
              </div>
              <img
                alt="Fenty"
                class="block w-full h-64"
                src="../assets/images/LamerB.jpeg"
              />
              <header
                class="items-center justify-between leading-tight p-2 md:p-4"
              >
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <b-icon type="is-warning" icon="star"> </b-icon>
                <span> 2 </span>
                <div class="flex">
                  <div class="cursor-pointer capitalize">
                    <p class="ml-1 mt-1 text-sm">physicians formula muru</p>
                    <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$268.00</p>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <svg
          class="block"
          id="wave"
          style="transform: rotate(180deg); transition: 0.3s"
          viewBox="0 0 1440 490"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
              <stop
                stop-color="rgba(255, 244.528, 223.957, 1)"
                offset="0%"
              ></stop>
              <stop
                stop-color="rgba(255, 243.986, 219.638, 1)"
                offset="100%"
              ></stop>
            </linearGradient>
          </defs>
          <path
            style="transform: translate(0, 0px); opacity: 1"
            fill="url(#sw-gradient-0)"
            d="M0,49L80,40.8C160,33,320,16,480,57.2C640,98,800,196,960,204.2C1120,212,1280,131,1440,155.2C1600,180,1760,310,1920,310.3C2080,310,2240,180,2400,155.2C2560,131,2720,212,2880,277.7C3040,343,3200,392,3360,367.5C3520,343,3680,245,3840,187.8C4000,131,4160,114,4320,106.2C4480,98,4640,98,4800,130.7C4960,163,5120,229,5280,228.7C5440,229,5600,163,5760,171.5C5920,180,6080,261,6240,277.7C6400,294,6560,245,6720,187.8C6880,131,7040,65,7200,40.8C7360,16,7520,33,7680,32.7C7840,33,8000,16,8160,65.3C8320,114,8480,229,8640,261.3C8800,294,8960,245,9120,220.5C9280,196,9440,196,9600,179.7C9760,163,9920,131,10080,106.2C10240,82,10400,65,10560,89.8C10720,114,10880,180,11040,187.8C11200,196,11360,147,11440,122.5L11520,98L11520,490L11440,490C11360,490,11200,490,11040,490C10880,490,10720,490,10560,490C10400,490,10240,490,10080,490C9920,490,9760,490,9600,490C9440,490,9280,490,9120,490C8960,490,8800,490,8640,490C8480,490,8320,490,8160,490C8000,490,7840,490,7680,490C7520,490,7360,490,7200,490C7040,490,6880,490,6720,490C6560,490,6400,490,6240,490C6080,490,5920,490,5760,490C5600,490,5440,490,5280,490C5120,490,4960,490,4800,490C4640,490,4480,490,4320,490C4160,490,4000,490,3840,490C3680,490,3520,490,3360,490C3200,490,3040,490,2880,490C2720,490,2560,490,2400,490C2240,490,2080,490,1920,490C1760,490,1600,490,1440,490C1280,490,1120,490,960,490C800,490,640,490,480,490C320,490,160,490,80,490L0,490Z"
          ></path>
        </svg>
        <!-- <div class="container">
        <span class="absolute">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, rerum.</span>
        </div> -->
      </div>

      <div class="flex mt-5 mb-5">
        <div class="container">
          <div
            class="
              grid grid-cols-2
              sm:grid-cols-1
              md:grid-cols-2
              lg:grid-cols-2
              justify-items-center
            "
          >
            <div>
              <div class="uppercase absolute mt-5 ml-8 p-2">
                <span class="text-base text-gray tracking-widest"
                  >c l e a n &ensp;b e a u t y </span
                ><br /><br />
                <span class="text-2xl text-orange-700 capitalize"
                  >exfoliate, tone <br />
                  & hydrate</span
                ><br /><br />
                <b-button type="is-light">
                  <span>Shop now</span>
                  <b-icon class="flex" icon="arrow-right"> </b-icon>
                </b-button>
              </div>
              <img
                class="w-[506px] h-[257px] block"
                src="../assets/images/CleanB.jpeg"
                alt="CleanBeauty"
              />
            </div>

            <div>
              <div class="absolute mt-5 ml-8 p-2">
                <span class="text-2xl text-[#14b8a6] tracking-widest"
                  >25% off Everything</span
                ><br /><br />
                <span class="text-base text-black"
                  >Makeup with extended <br />range in colors for every
                  human</span
                ><br /><br />
                <b-button type="is-light">
                  <span>Shop now</span>
                  <b-icon class="flex" icon="arrow-right"> </b-icon>
                </b-button>
              </div>
              <img
                class="w-[506px] h-[257px] block"
                src="../assets/images/EverythingMakeup.jpeg"
                alt="CleanBeauty"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="flex mb-5 mt-5">
        <div class="container mx-auto">
          <h1
            class="
              capitalize
              text-2xl text-center
            "
          >
            customer favori<span class="
              underline
              decoration-wavy
              decoration-sky-500
              underline-offset-[18px]"
            >te </span>beauty essentials
          </h1>
          <div
            class="
              grid grid-cols-3
              sm:grid-cols-1
              md:grid-cols-2
              lg:grid-cols-3
              gap-3
              mt-12
            "
          >
            <div class="break-all whitespace-normal">
              <div
                class="
                  ml-12
                  mb-12
                  absolute
                  bottom-0
                  left-0
                  text-white
                  pb-[77px]
                  break-all
                  whitespace-normal
                "
              >
                <span class="text-2xl tracking-widest capitalize"
                  >enpower yourself</span
                ><br /><br />
                <span class="text-base">Get the skin you want to feel</span
                ><br /><br />
                <b-button type="is-light">
                  <span>Shop now</span>
                  <b-icon class="flex" icon="arrow-right"> </b-icon>
                </b-button>
              </div>
              <img
                class="block w-[407] h-[611px]"
                src="../assets/images/WomanModel.png"
                alt="CleanBeauty"
              />
            </div>

            <div>
              <div class="overflow-hidden rounded-lg shadow-lg">
                <img
                  alt="Fenty"
                  class="block w-full h-64"
                  src="../assets/images/LamerG.jpeg"
                />
                <header class="leading-tight p-2 md:p-4">
                  <div class="flex">
                    <div class="cursor-pointer capitalize">
                      <p class="ml-1 mt-1 text-sm">aveeno daily moisturizing</p>
                      <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$300.00</p>
                    </div>
                  </div>
                </header>
              </div>
              <div class="overflow-hidden rounded-lg shadow-lg">
                <div
                  class="
                    uppercase
                    absolute
                    mt-5
                    ml-3
                    p-1
                    bg-red-300
                    text-xs text-red-400
                    tracking-widest
                  "
                >
                  -7%
                </div>
                <img
                  alt="Fenty"
                  class="block w-full h-64"
                  src="../assets/images/LamerG.jpeg"
                />
                <header class="leading-tight p-2 md:p-4">
                  <div class="flex">
                    <div class="cursor-pointer capitalize">
                      <p class="ml-1 mt-1 text-sm">cool cosmetics</p>
                      <p class="ml-1 mt-1 text-sm text-[#14b8a6]">
                        <span class="text-gray-300 line-through">$146.00</span>
                        $168.00
                      </p>
                    </div>
                  </div>
                </header>
              </div>
            </div>

            <div>
              <div class="overflow-hidden rounded-lg shadow-lg">
                <div
                  class="
                    uppercase
                    absolute
                    mt-5
                    ml-3
                    p-2
                    bg-[#a7f3d0]
                    text-xs text-black
                    tracking-widest
                  "
                >
                  featured
                </div>
                <img
                  alt="Fenty"
                  class="block w-full h-64"
                  src="../assets/images/LamerG.jpeg"
                />
                <header class="leading-tight p-2 md:p-4">
                  <!-- <span>
            <b-icon
                type="is-warning" 
                icon="star">
            </b-icon>
            <b-icon
                type="is-warning" 
                icon="star">
            </b-icon>
            <b-icon
                type="is-warning" 
                icon="star">
            </b-icon>
            <b-icon
                type="is-warning" 
                icon="star">
            </b-icon>
            <b-icon
                type="is-warning" 
                icon="star-zonk">
            </b-icon>
            2
            </span> -->
                  <div class="flex">
                    <div class="cursor-pointer capitalize">
                      <p class="ml-1 mt-1 text-sm">careful cos</p>
                      <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$180.00</p>
                    </div>
                  </div>
                </header>
              </div>

              <div class="overflow-hidden rounded-lg shadow-lg">
                <img
                  alt="Fenty"
                  class="block w-full h-64"
                  src="../assets/images/LamerB.jpeg"
                />
                <header class="leading-tight p-2 md:p-4">
                  <div class="flex">
                    <div class="cursor-pointer capitalize">
                      <p class="ml-1 mt-1 text-sm">layered luxury</p>
                      <p class="ml-1 mt-1 text-sm text-[#14b8a6]">$245.00</p>
                    </div>
                  </div>
                </header>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 mb-5">
        <div
          class="
            h-96
            w-full
            h-auto
            bg-[#faecd4]
            float-left
            break-all
            whitespace-normal
          "
        >
          <div class="container mx-auto">
            <div
              class="
                grid grid-cols-2
                sm:grid-cols-1
                md:grid-cols-2
                lg:grid-cols-2
                gap-6
                mt-12
                mb-12
              "
            >
              <div class="font-serif font-black">
                <h1 class="text-3xl capitalize">
                  perfect smile,<br />
                  excellence defined
                </h1>

                <p class="text-xs mt-5 text-gray-500 leading-relaxed">
                  Beauty is worth much more than I paid. We've seen amazing
                  results <br />
                  already. Beautyis worth much more than I paid.
                </p>
                <div class="mt-8 capitalize font-arial pr-32">
                  <strong>face treatment</strong>
                  <b-progress
                    size="is-small"
                    type="is-success"
                    :value="80"
                  ></b-progress>

                  <strong>body Treatment</strong>
                  <b-progress
                    size="is-small"
                    type="is-success"
                    :value="80"
                  ></b-progress>

                  <strong>breast treatment</strong>
                  <b-progress
                    size="is-small"
                    type="is-success"
                    :value="80"
                  ></b-progress>

                  <strong>mens treatment</strong>
                  <b-progress
                    size="is-small"
                    type="is-success"
                    :value="80"
                  ></b-progress>
                </div>
              </div>

              <div class="m-auto">
                <img
                  class="w-96"
                  src="../assets/images/BefAft.jpeg"
                  alt="FentyBeauty"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex mt-5 mb-5 gap-5">
        <div class="container mx-auto">
          <b-carousel
            :indicator="false"
            :indicator-inside="false"
            :indicator-position="false"
            :indicator-style="false"
            :pause-hover="false"
            :pause-info="false"
          >
            <b-carousel-item v-for="(textin, i) in textins" :key="i">
              <div
                class="
                  justify-content-center
                  hero-body
                  has-text-centered
                  mt-24
                  mb-24
                "
              >
                <img class="mx-auto mb-4 w-20" :src="textin.img" alt="Comma" />
                <b-icon type="is-warning" icon="star"></b-icon>
                <b-icon type="is-warning" icon="star"></b-icon>
                <b-icon type="is-warning" icon="star"></b-icon>
                <b-icon type="is-warning" icon="star"></b-icon>
                <b-icon type="is-warning" icon="star"></b-icon>
                <br />
                <br />
                <p class="text-xl">
                  <i> "{{ textin.text }}" </i>
                  <img
                    class="rounded-full mx-auto mt-6 w-20"
                    :src="textin.pp"
                    alt="profpict"
                  />
                </p>
                <p>{{ textin.name }}</p>
              </div>
            </b-carousel-item>
          </b-carousel>
        </div>
      </div>

      <div class="flex">
        <div
          class="container mx-auto"
          v-for="(botimage, i) in botimages"
          :key="i"
        >
          <img :src="botimage.pict" alt="quote" />
        </div>
      </div>
    </layout-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      indicator: true,
      indicatorInside: true,
      indicatorMode: "hover",
      indicatorPosition: "is-bottom",
      indicatorStyle: "is-dots",
      products: [
        { name: "Body Lava Luminizer", price: "$156.00 - $190.00" },
        { name: "Applied Artwork", price: "$260.00" },
        { name: "Aveeno Daily Moisturizing", price: "$300.00" },
        { name: "Careful Cosmetics", price: "$230.00" },
      ],
      textins: [
        {
          img: require("../assets/images/Comma.png"),
          text: "Support interested in helping you, with problems of waiting time but of quality and predisposition to solve my problem, thank you very much! Blood bank canine teeth larynx occupational therapist oncologist optician plaque spinal tap stat strep screen violence joints",
          pp: require("../assets/images/Pict.jpeg"),
          name: "Jerome Bell",
        },
        {
          img: require("../assets/images/Comma.png"),
          text: "Support interested in helping you, with problems of waiting time but of quality and predisposition to solve my problem, thank you very much! Blood bank canine teeth larynx occupational therapist oncologist optician plaque spinal tap stat strep screen violence joints",
          pp: require("../assets/images/Pict2.jpeg"),
          name: "Bell Jerome",
        },
      ],
      carousels: [
        {
          image:
            "https://cdn.shopify.com/s/files/1/0028/8253/5533/files/Website_Banners_-_Up_to_50__off_desktop_1920x.jpg?v=1654145400",
        },
        {
          image:
            "https://cdn.shopify.com/s/files/1/0028/8253/5533/files/Sweet_Repair_Launch_Desktop_1920x.jpg?v=1653535831",
        },
      ],
      botimages: [
        { pict: require("../assets/images/BottomHomeImg1.png") },
        { pict: require("../assets/images/BottomHomeImg2.png") },
        { pict: require("../assets/images/BottomHomeImg3.png") },
        { pict: require("../assets/images/BottomHomeImg4.png") },
        { pict: require("../assets/images/BottomHomeImg5.png") },
      ],
    };
  },
};
</script>
