<template>
  <layout-container nav-title="Home" no-back> </layout-container>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Home extends Vue {
  mounted() {}
}
</script>
