<template>
  <layout-container nav-title="Warehouse Setting" no-back>
    <div class="flex gap-5 p-3">
      <div class="">
        <div>
          <common-image-dropzone-upload v-if="isButtonActive === false" />
          <common-image-dropzone-preview v-if="isButtonActive === true" />
        </div>
        <div class="py-3 px-2" v-if="isButtonActive === false">
          <b-button
            class="w-72"
            type="is-success"
            @click="isButtonActive = true"
            >Edit Profile</b-button
          >
        </div>
        <div
          class="py-3 flex gap-3 justify-center"
          v-if="isButtonActive === true"
        >
          <b-button class="w-32" type="is-success">Save</b-button>
          <b-button
            class="w-32"
            type="is-danger"
            @click="isButtonActive = false"
            >Cancel</b-button
          >
        </div>
      </div>
      <div class="boorder w-full">
        <b-field class="w-full" horizontal label="Nama">
          <b-input></b-input>
        </b-field>
        <b-field class="w-full" horizontal label="Email">
          <b-input></b-input>
        </b-field>
        <b-field class="w-full" horizontal label="No. Telephone">
          <b-input></b-input>
        </b-field>
        <b-field class="w-full" horizontal label="Address">
          <b-input type="textarea"></b-input>
        </b-field>
      </div>
    </div>
    <div class="flex gap-5 justify-center">
      <b-button class="w-44" type="is-success">Save Setting</b-button>
      <b-button class="w-44" type="is-danger" @click="isButtonActive = false"
        >Close Warehouse</b-button
      >
    </div>
  </layout-container>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class WarehouseSetting extends Vue {
  data() {
    return {
      isButtonActive: false,
    };
  }
  mounted() {}
}
</script>
